@using VacationManager.Models;
@using VacationManager.ExtentionMethods;
@{ User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser"); }
<html>
<head>

    <title>@ViewData["title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-fixed">
            <h1 class="title">Vacation Manager</h1>

            <ul>
                <li><a href="/Home/Index">Home</a></li>
                @if (loggedUser != null)
                {
                    <li><a href="/Users/Index">Users</a></li>
                    <li><a href="/Teams/Index">Teams</a></li>
                    <li><a href="/Projects/Index">Projects</a></li>
                    <li><a href="/TimeOffs/Index">Time Off</a></li>
                    <li><a href="/Roles/Index">Roles</a></li>
                    <li><a href="/Home/Logout">Log out</a></li>

                }
                else
                {
                    <li><a href="/Home/Login">Log in</a></li>
}

            </ul>


        </div>
    </div>
    <br />
    <div class="container header">
        <!--<h1 class="title">Vacation Manager</h1>-->

        <div class="welcomeMsg">
            <span>
                Hello,
                @(loggedUser == null ? "colleague" : loggedUser.FirstName).
            </span>
        </div>
    </div>
    <div class="container">
        <!--<ul class="menu">
                    <li><a href="/Home/Index">HOME</a></li>
                    @if (loggedUser != null)
                    {
        <li><a href="/Home/Logout">LOGOUT</a></li>
        <li><a href="/Users/Index">Users</a></li>
        <li><a href="/Teams/Index">Teams</a></li>
        <li><a href="/Projects/Index">Projects</a></li>
        <li><a href="/TimeOffs/Index">Time Off</a></li>
        <li><a href="/Roles/Index">Roles</a></li>
                    }
                    else
                    {   <li><a href="/Home/Login">LOGIN</a></li>    }
                </ul>-->
    </div>
    <div class="container">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>